<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>

    <title>Document</title>
</head>
<body>

    <p>Click to trigger request for password suggestion</p>

    <form action="/submit" hx-target="#value_key" hx-swap="outerHTML" autocomplete="off" method="post">
    

    
        <input id="value_key" type="text"
       hx-get="/genpasswd" hx-trigger="click delay:1s" hx-swap="outerHTML" value="" >
    <input type="submit" value="Submit">
    </form>


</body>
</html>